@import "tailwindcss";

@theme {
    --color-primary: #493D9E;
    --color-primary-500: #211b4a;
    --color-secondary: #B2A5FF;
    --color-secondary-500: #8379ba;
    --color-sky: #DAD2FF;
    --color-light: #FFF2AF;
    --color-error: #800f1e;

    --color-shadow: rgba(0, 0, 0, 0.3);
}
